body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.login-container {
    width: 300px;
    margin: 100px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    border: 1px solid #ccc;;
    width: 90%;
    padding: 8px;
    padding-left: 10px
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="submit"] {
  width: 97%;
  padding: 11px;
  background-color: #007bff;
  margin: center;
  color: #fff;
  border: none;
  border-radius: -12px;
  cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}

.forgot-password {
    text-align: center;
    padding: 10px;
    margin-top: 10px;
}


.forgot-password a {
    text-decoration: none;
    color: #007bff;
}

.forgot-password a:hover {
    text-decoration: underline;
}
